#about{
  img{
    border: 3px solid #B0B0B0;
    padding-top: 0px;
    &.pull-left{
      margin-right: 20px;
    }
    &.pull-right{
      margin-left: 20px;
    }
  }
  p{
    font-family: $p;
  }
}