@for $i from 1 through 6{
    h#{$i}{
        font-family: $normal-font;
        font-weight: 20px;
        
    }
}
body{
  font-family: $normal-font;
  font-weight: 300;

}
b,strong{
  font-weight: 400;
}
nav.navbar{
  font-family: $heading-font;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 20px;
}